<div class="container">
    <h1>My Dojodachi</h1>
    <div class="attr-bar">
        <h3>Fullness: @ViewBag.Dojodachi.Fullness</h3>
        <h3>Happiness: @ViewBag.Dojodachi.Happiness</h3>
        <h3>Meals: @ViewBag.Dojodachi.Meals</h3>
        <h3>Energy: @ViewBag.Dojodachi.Energy</h3>
        <h3>@ViewBag.log</h3>

    </div>

    <div class="action-btns">
        <a href="feed"><button class="btn btn-success feed">Feed</button></a>
        <a href="play"><button class="btn btn-success play">Play</button></a>
        <a href="work"><button class="btn btn-success work">Work</button></a>
        <a href="sleep"><button class="btn btn-success sleep">Sleep</button></a>
    </div>
    
</div>